<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<style>
  /*footer*/
  footer{
    background: #E6E6E6;
    display: block;
    clear: both;
    position: relative;
    z-index: 1;
    margin-top: 110px;
    width: 100%;
    min-width: 960px;
    height: 297px;
  }
  .inner{
    position: relative;
    margin: 0 auto;
    padding: 60px 0 21px 260px;
    width: 960px;
    box-sizing: border-box;
  }
</style>
<th:block th:fragment="footerFragment">
  <footer>
    <hr style="margin-top: 20px;">
    <div class="mt-5">
      <div class="inner">
        <small>
          <small class="text-muted">
            <p>© D@g 공식스토어 / Site by Twogether <span>이용약관</span> | <span>개인정보취급방침</span> | <span>이용안내</span></p>
            <div class="btns"> Address : <span>대한민국 서울특별시 강서구 마곡중앙8로 71 (마곡동)</span> | Tel : <span>02-1234-5678</span> | Fax : <span>02-4057-3938</span></div>
          </small>
        </small>
      </div>
    </div>
  </footer>
</th:block>
</html>