
<div th:fragment="header">
    <div class="navbar">
        <div class="box">
            <input type="checkbox" id="menuicon">
            <label for="menuicon">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="sidebar">
                <ul>
                    <li>
                        <a th:if="${userId == null}" th:href="@{/login}" style="color: black; font-size: 15px">로그인</a>
                        <a th:if="${userId != null}" th:href="@{/logout}" style="color: black; font-size: 15px">로그아웃</a>
                    </li>
                    <li><a href="#" style="color: black; font-size: 15px">1:1 문의</a></li>
                    <li><a href="#" style="color: black; font-size: 15px">후기</a></li>
                    <li></li>
                    <li><a href="/hello" style="color: black; font-size: 15px">상품 전체 보기</a></li>
                    <li><a href="#" style="color: black; font-size: 15px">퍼피 웨어</a></li>
                    <li><a href="#" style="color: black; font-size: 15px">하네스 / 칼라</a></li>
                    <li><a href="#" style="color: black; font-size: 15px">악세사리</a></li>

                </ul>
            </div>
        </div>
        <div class="box">
            <a href="#"><img src="/img/icon/search.png" alt="검색"></a>
        </div>
        <div class="box-image">
            <img src="/img/icon/Dog_logo.png" alt="로고 이미지">
        </div>
        <div class="box">
            <a href="/myPage"><img src="/img/icon/user.png" alt="회원정보"></a>
        </div>
        <div class="box">
            <a href="/cartItem/getCartItem"><img src="/img/icon/cart.png" alt="장바구니"></a>
        </div>
    </div>
</div>
