<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
료    <script>

    </script>
</head>
<body>
<!-- The header section -->
<div th:fragment="header">
    <div class="navbar">
        <div class="box">
            <a href="#"><img src="/img/logo/icon/menu_bar.png" alt="메뉴"></a>
        </div>
        <div class="box">
            <a href="#"><img src="/img/logo/icon/search.png" alt="검색"></a>
        </div>
        <div class="box-image">
            <img src="/img/logo/Dog_logo.png" alt="로고 이미지">
        </div>
        <div class="box">
            <a href="#"><img src="/img/logo/icon/user.png" alt="회원정보"></a>
        </div>
        <div class="box">
            <a href="#"><img src="/img/logo/icon/cart.png" alt="회원정보"></a>
        </div>
    </div>
</div>
</body>
</html>
