<div th:fragment="header">
    <div class="navbar">
        <div class="box">
            <a href="#"><img src="/img/icon/menu_bar.png" alt="메뉴"></a>
        </div>
        <div class="box">
            <a href="#"><img src="/img/icon/search.png" alt="검색"></a>
        </div>
        <div class="box-image">
            <img src="/img/icon/Dog_logo.png" alt="로고 이미지">
        </div>
        <div class="box">
            <a href="#"><img src="/img/icon/user.png" alt="회원정보"></a>
        </div>
        <div class="box">
            <a href="/CartItem/getList"><img src="/img/icon/cart.png" alt="장바구니"></a>
        </div>
    </div>
</div>
</body>
</html>

