footer{
    background: #E6E6E6;
    display: block;
    clear: both;
    position: relative;
    z-index: 1;
    margin-top: 110px;
    width: 100%;
    min-width: 960px;
    height: 297px;
}
.inner{
    position: relative;
    margin: 0 auto;
    padding: 60px 0 21px 260px;
    width: 960px;
    box-sizing: border-box;
}