/* CSS for navigation bar */

.box-image img {
    width: 200px;
    height: 55px;
    display: block;
}

.navbar {
    display: flex; /* Use flexbox for horizontal layout */
    width: 100%; /* Set width to 100% */
    background-color: white;
}

.box {
    flex: 1; /* Each box takes equal space */
    display: flex; /* Use flexbox for internal layout */
    align-items: center; /* Center align the content vertically */
    justify-content: center; /* Center align the content horizontally */
    text-align: center;
    padding: 15px;
    border: 0.6px solid #ccc;
}

.box-image {
    flex: 5; /* Each box takes equal space */
    display: flex; /* Use flexbox for internal layout */
    align-items: center; /* Center align the content vertically */
    justify-content: center; /* Center align the content horizontally */
    text-align: center;
    padding-top: 2px;
    border: 0.6px solid #ccc;
}

.box a {
    color: #6E6E6E;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Adjust width to 100% to ensure content is centered */
    height: 100%; /* Adjust height to 100% to ensure content is centered */
}

.box:hover {
    background-color: white;
    color: white;
}

ul {
    list-style-type: none; /* Remove the bullet points from the list */
    padding: 0;
}

/* menu icon */
input[id="menuicon"] {
    display: none;
}

input[id="menuicon"] + label {
    display: block;
    width: 13px;
    height: 13px;
    position: relative;
    cursor: pointer;
}

input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background: #848484;
    transition: all .35s;
}

input[id="menuicon"] + label span:nth-child(1) {
    top:0;
}

input[id="menuicon"] + label span:nth-child(2) {
    top:50%;
    transform: translateY(-50%);
}

input[id="menuicon"] + label span:nth-child(3) {
    bottom: 0;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
    top:50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity: 0;
}

input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom:50%;
    transform: translateY(50%) rotate(-45deg);
}

/* menu sidebar */
div[class="sidebar"] {
    width:200px;
    height:50%;
    background: rgba(246, 245, 245, 0.52);
    position: fixed;
    top:80px;
    left: -300px;
    z-index:1;
    transition: all .35s;
}

input[id="menuicon"]:checked + label + div {
    left:0;
}

.sidebar ul {
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 세로 방향으로 배치 */
    align-items: center; /* 가운데 정렬 */
    padding: 0; /* 리스트의 패딩 제거 */
    width: 100%; /* sidebar의 너비를 100%로 설정 */
}

.sidebar li {
    list-style-type: none; /* 머리 기호를 없앰 */
    width: 100%; /* sidebar의 너비를 100%로 설정 */
    text-align: center; /* 텍스트를 가운데 정렬 */
    position: relative; /* 상대 위치 설정 */
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 가로 방향으로 가운데 정렬 */
    align-items: center; /* 세로 방향으로 가운데 정렬 */
    height: 50px; /* 원하는 높이로 설정 */
    color: black;
}

.sidebar li:not(:last-child)::after {
    content: "";
    display: block;
    width: 100%; /* 선의 길이를 100%로 설정 */
    height: 1px; /* 선의 두께 */
    background-color: black; /* 선의 색상 */
    position: absolute;
    bottom: 0;
    left: 0;
}

.slidewrap {
    display: flex; /* Use flexbox for horizontal alignment */
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.slidelist {
    display: flex; /* Use flexbox for horizontal alignment */
    list-style-type: none;
    padding: 0;
    width: 300%; /* Adjust width to accommodate three images */
    transition: 0.5s;
}

.slidelist li {
    width: 33.3333%; /* Adjust width to divide evenly into three parts */
}

.slidelist li img {
    width: 100%;
    height: auto;
}

/* img slide */
.indexImage {
    margin-top: 90px;
    margin-bottom: 90px;
    width: 100%; /* Adjust width as needed */
    overflow: hidden;
}

.indexImage ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    animation: transX 15s linear infinite;
}

.indexImage li {
    margin-right: 20px; /* Adjust the space between images as needed */
}

@keyframes transX {
    0% {
        transform: translateX(200px); /* Start 800px to the right */
    }
    100% {
        transform: translateX(-1600px); /* Slide to the left, back to the original position */
    }
}

::-webkit-scrollbar {
    display: none; /* Hide the scrollbar in Chrome, Safari, and Opera */
}
