<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이용약관 동의</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link th:href="@{/css/agreeCheck.css}" rel="stylesheet">
</head>

<body>
<form method="post" action="/check/process-agreement">
    <input type="checkbox" id="chkMain"><label for="chkMain">
    <h1>모두 확인하였으며 동의합니다.</h1>
    <p>전체 동의에는 필수 및 선택 정보에 대한 동의가 포함되어 있으며, 개별적으로 동의를 선택 하실 수 있습니다. 선택 항목에 대한 동의를 거부하시는 경우에도 서비스 이용이 가능합니다.</p>
    </label>
    <br>
        <div class="contents">
            <h2 class="h2">[필수] 홈페이지 이용약관</h2>
            <div class="agree">
                <div>
                제 1 조 (목적)<br>
                이 약관은 D@g에서 제공하는 쇼핑몰서비스의 이용 조건 및 절차에 관한 기본적인 사항을 규정함을 목적으로 합니다.
                <br>
                <br>
                제 2 조 (약관의 효력 및 변경)<br>
                ① 이 약관은 서비스 화면이나 기타의 방법으로 이용고객에게 공지함으로써 효력을 발생합니다.<br>
                ② 사이트는 이 약관의 내용을 변경할 수 있으며, 변경된 약관은 제1항과 같은 방법으로 공지 또는 통지함으로써 효력을 발생합니다.
                <br>
                <br>


                제 3 조 (용어의 정의)<br>
                이 약관에서 사용하는 용어의 정의는 다음과 같습니다.<br>
                ① 회원 : 사이트와 서비스 이용계약을 체결하거나 이용자 아이디(ID)를 부여받은 개인 또는 단체를 말합니다.<br>
                ② 신청자 : 회원가입을 신청하는 개인 또는 단체를 말합니다.<br>
                ③ 아이디(ID) : 회원의 식별과 서비스 이용을 위하여 회원이 정하고 사이트가 승인하는 문자와 숫자의 조합을 말합니다.<br>
                ④ 비밀번호 : 회원이 부여 받은 아이디(ID)와 일치된 회원임을 확인하고, 회원 자신의 비밀을 보호하기 위하여 회원이 정한 문자와 숫자의 조합을 말합니다.<br>
                ⑤ 해지 : 사이트 또는 회원이 서비스 이용계약을 취소하는 것을 말합니다.<br>
                </div>
                <p><input type="checkbox" id="chkTerms" name="chkTerms"><label for="chkTerms">이용약관에 동의합니다. (동의하지 않을 경우 가입되지 않습니다.) </label></p>
            </div>
        </div>

        <div class="contents">
            <h2 class="h2">[필수] 개인정보 수집 및 이용 동의</h2>
            <div class="agree">
                <div>
                    ① 개인정보의 수집 및 이용에 관한 사항 <br>
                    - 수집하는 개인정보 항목 : 성명, 주민등록번호, 전화번호, 주소, 이메일 등과 그 외 이력서 기재 내용 일체 <br>
                    - 개인정보의 이용 목적 : 수집된 개인정보를 사업장에 활용하며, 목적 외에 용도로는 사용하지 않습니다.
                    <br>
                    <br>
                    ② 개인정보의 보관 및 이용 기간 <br>
                    - 귀하의 개인정보를 다음과 같이 보관하며, 수집, 이용 및 제공목적이 달성된 경우 [개인정보 보호법] 제 21조에 따라 처리합니다.
                </div>
                <p><input type="checkbox" id="chkPrivacy" name="chkPrivacy"><label for="chkPrivacy">개인정보 수집 및 이용에 동의합니다.(동의하지 않을 경우 가입되지 않습니다.)</label></p>
            </div>
        </div>

        <div class="contents">
            <h2 class="h2">[선택] 광고성 정보 수신 동의</h2>
            <div class="agree">
                <div>
                    [선택] 광고성 정보 수신 동의
                    <br>
                    <br>
                    D@g는 회원님이 수집 및 이용에 동의한 개인정보를 이용하여 SMS(MMS), SNS 메시지, 이메일, 푸시 알림 등 다양한 전자적 전송 매체를 통해 오전 8시부터 오후 9시까지 개인 맞춤형 광고 및 정보를 전송할 수 있습니다.
                    본 동의는 거부하실 수 있으나, 거부 시 이벤트 및 프로모션 안내, 유용한 광고를 받아보실 수 없습니다.<br>
                </div>
                <p><input type="checkbox" id="chkMarketing" name="chkMarketing"><label for="chkMarketing">광고성 정보 수신을 동의합니다.</label></p>
            </div>
        </div>

        <br>
            <button type="submit" id="btnConfirm"><a href="/auth/signup">회원 가입</a></button>
            <button type="button" id="btnCancel"><a href="/">가입 취소</a></button>
    </form>

        <div id="modal">
            필수 항목에 동의해주세요.
            <button id="btnClose">닫기</button>
        </div>

    <script>
        $(document).ready(function () {
            $('#chkMain').on('change', function () {
                let isChecked = $(this).prop('checked');
                $('input[type="checkbox"]').prop('checked', isChecked);
            });

            $('#chkTerms, #chkPrivacy, #chkMarketing').on('change', function () {
                if (!$('#chkTerms').prop('checked') || !$('#chkPrivacy').prop('checked') || !$('#chkMarketing').prop('checked')) {
                    $('#chkMain').prop('checked', false);
                } else {
                    $('#chkMain').prop('checked', true);
                }
            });

            $('#btnConfirm').on('click', function (e) {
                if (!$('#chkTerms').prop('checked') || !$('#chkPrivacy').prop('checked')) {
                    e.preventDefault();
                    $('#modal').show();
                }
            });

            $('#btnClose').on('click', function () {
                $('#modal').hide();
            });

            $('#btnCancel').on('click', function () {
                window.location.href = '/index';
            });
        });
    </script>

    </body>
    </html>
