<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
<table>
    <tr>
        <th>Seq</th>
        <th>quantity</th>
        <th>sub_total</th>
        <th>unit_price</th>
        <th>cart_id</th>
        <th>product_id</th>
    </tr>                  <!-- 규칙은 이름 똑같은거에 Stat 인듯 -->
    <tr th:each="cartItem, cartItemStat : ${cartItems}">
        <td th:text="${cartItemStat.count}"></td>
        <td th:text="${cartItem.quantity}" ></td>
        <td th:text="${cartItem.sub_total}"></td>
        <td th:text="${cartItem.unit_price}"></td>
        <td th:text="${cartItem.cart_id}"></td>
        <td th:text="${cartItem.product_id}"></td>
    </tr>
</table>
</body>
</html>