<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Seq</th>
        <th>quantity</th>
        <th>sub_total</th>
        <th>unit_price</th>
        <th>cart_id</th>
        <th>product_id</th>
    </tr>                  <!-- 규칙은 이름 똑같은거에 Stat 인듯 -->
    <tr th:each="cartItem, cartItemStat : ${cartItems}">
        <td th:text="${cartItemStat.count}"></td>
        <td th:text="${cartItem.quantity}" ></td>
        <td th:text="${cartItem.subTotal}"></td>
        <td th:text="${cartItem.unitPrice}"></td>
        <td th:text="${cartItem.cart}"></td>
        <td th:text="${cartItem.product}"></td>
    </tr>
</table>
<p><a href="/CartItem/signup">장바구니 등록</a></p>
</body>
</html>