<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script>
        function toggleTable() {
            var tableContainer = document.getElementById("tableContainer");
            if (tableContainer.style.display === "none") {
                tableContainer.style.display = "block";
            } else {
                tableContainer.style.display = "none";
            }
        }
    </script>
</head>
<body>
<div th:insert="~{/index/header :: header}"></div>
<div class="indexImage">
<ul>
    <li>
        <img src="/img/icon/product_img/product_1.jpeg">
    </li>
    <li>
        <img src="/img/icon/product_img/product_2.jpeg">
    </li>
    <li>
        <img src="/img/icon/product_img/product_3.jpeg">
    </li>
    <li>
        <img src="/img/icon/product_img/product_4.jpeg">
    </li>
    <li>
        <img src="/img/icon/product_img/product_5.jpeg">
    </li>
</ul>
</div>
<div th:insert="~{/index/footer :: footer}"></div>
</body>
</html>