<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script>
    </script>
</head>
<body>
<div th:include="/index/header :: header"></div>
<!-- image slide -->
<div class="section">
    <input type="radio" name="slide" id="slide01" checked>
    <input type="radio" name="slide" id="slide02">
    <input type="radio" name="slide" id="slide03">

    <div class="slidewrap">
        <ul class="slidelist">
            <li>
                <a>
                    <label for="slide03" class="left"></label>
                    <img src="/img/icon/product_img/product_1.png">
                    <label for="slide02" class="right"></label>
                </a>
            </li>
            <li>
                <a>
                    <label for="slide01" class="left"></label>
                    <img src="/img/icon/product_img/product_2.png">
                    <label for="slide03" class="right"></label>
                </a>
            </li>
            <li>
                <a>
                    <label for="slide02" class="left"></label>
                    <img src="/img/icon/product_img/product_3.png">
                    <label for="slide01" class="right"></label>
                </a>
            </li>


        </ul>
    </div>
</div>
<div th:include="/index/footer :: footer"></div>
</body>
</html>