<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 문의하기</title>
</head>
<body>

<h2 th:text="'상품 문의하기: ' + ${product.productName}"></h2>

<form action="#" method="post" th:action="@{/api/inquiry/submit/inquiry}" th:object="${inquiryForm}">
    <!-- 상품 ID를 숨겨진 필드로 포함합니다. -->
    <input type="hidden" th:field="*{productId}" th:value="${product.id}">
    <div>
        <label for="title">타이틀:</label>
        <input id="title" th:field="*{title}" required>
    </div>
    <div>
        <label for="content">컨텐트:</label>
        <textarea id="content" th:field="*{content}" required></textarea>
    </div>
    <div>
        <input type="submit" value="문의 제출">
    </div>
</form>

</body>
</html>