<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Login</title>-->
<!--    <link th:href="@{/css/login.css}" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container" id="container">-->
<!--    <div class="sign-in-container">-->
<!--        <h1>Login</h1>-->
<!--        <form th:action="@{/login-process}" method="post">-->
<!--            <div class="txt_field">-->
<!--                <input type="email" id="email" name="email" required/>-->
<!--                <span></span>-->
<!--                <label>Email</label>-->
<!--            </div>-->
<!--            <div class="txt_field">-->
<!--                <input type="password" id="password" name="password" required/>-->
<!--                <span></span>-->
<!--                <label>Password</label>-->
<!--            </div>-->
<!--            <div class="pass">-->
<!--                Forgot your password?-->
<!--            </div>-->
<!--            <input type="submit" value="Login">-->
<!--            <div class="signup_link">-->
<!--                Not a member? <a href="/auth/signup">Sign Up</a>-->
<!--            </div>-->
<!--&lt;!&ndash;            <button>Login</button>&ndash;&gt;-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->

<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<div class="container" id="container">
    <div class="sign-in-container">
        <h1>Login</h1>
        <form th:action="@{/login-process}" method="post">
            <div class="txt_field">
                <input type="email" id="email" name="email" required/>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" id="password" name="password" required/>
                <span></span>
                <label>Password</label>
            </div>
            <div class="pass">
                Forgot your password?
            </div>
            <input type="submit" value="Login">
            <div class="signup_link">
                Not a member? <a href="/check/agree" onclick="showAgreement()">Sign Up</a>
            </div>
        </form>
    </div>
</div>

<script>
    function showAgreement() {
        $('#popup').show();
    }
</script>
</body>

</html>