<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UpdateInfo</title>
</head>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<body>
<div class="login-container">
    <h2>Modifying</h2>
    <form th:action="@{/auth/update/{email}(email=${user.email})}" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required />
        </div>
        <div class="form-group">
            <label for="address">주소:</label>
            <input type="text" id="address" name="address" required onclick="findAddr()"/>
        </div>
        <div class="form-group">
            <label for="detailAddress">상세주소:</label>
            <input type="text" id="detailAddress" name="detailAddress" required />
        </div>
        <div class="form-group">
            <label for="birthDate">BirthDate:</label>
            <input type="date" value="2023-11-03" min="1940-01-01" max="2023-12-31" id="birthDate" name="birthDate" required />
        </div>
        <div class="form-group">
            <button type="submit">회원정보 수정</button>
        </div>
    </form>
</div>
</body>
<script>
    function findAddr() {
        new daum.Postcode({
            oncomplete: function(data) {

                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }
                if(data.userSelectedType === 'R'){
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                        console.log(addr);
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    document.getElementById("address").value = addr;
                    console.log(addr);
                } else {
                    document.getElementById("detailAddress").value = '';
                }
                document.getElementById('zipcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                document.getElementById("detailAddress").focus();

            }
        }).open();
    }
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</html>