<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>인기 검색어 리스트</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<table border="1">
    <tr>
        <th>Seq</th>
        <th>Keyword</th>
    </tr>
    <tr th:each="keyword, userState : ${keywords}">
        <td th:text="${userState.count}"></td>
        <td th:text="${keyword.productName}" ></td>
    </tr>
</table>
</body>
</html>