<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>인기 검색어 리스트</title>
    <style>

    </style>
</head>
<body>
<h1>인기 검색어</h1>
<div class="content">
    <img src="/img/icon/trophy.png">
    <table border="1">
        <tr>
            <th>순위</th>
            <th>상품명</th>
        </tr>
        <tr th:each="keyword, userState : ${keywords}">
            <td th:text="${userState.count}"></td>
            <td th:text="${keyword.productName}"></td>
        </tr>
    </table>
</div>
</body>
</html>
